*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/nav/js
/build
-artifacts
.externalNativeBuild
.cxx
/captures
.DS_Store
Thumbs.db
*.apk
*.ap_
*.aab
*.md
*.pdf
.vscode/